html {
    background-color: grey;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

  }

  button {
    font-size: 50px;
  }

  input {
    font-size: 50px;
    text-align: right;
    width: 350px;
  }